/* You can add global styles to this file, and also import other style files */
html {
    font-size: 62.5%;
}

h1 {
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    border: lightgray dashed 1px;
}

.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }

  .tausta-green {
    
    font-size: 2.2rem;
    color:azure;
    background-color: rgb(213, 237, 213);
  }